<p>view-employee works!</p>
<h1>Employee Details</h1>
<p><strong>Id:</strong> {{ emp.Id }}</p>
<p><strong>Name:</strong> {{ emp.Name }}</p>
<p><strong>Salary:</strong>{{ emp.Salary | currency:"INR" }}</p>
<!-- ngIf -->
<p><span *ngIf="emp.Permanent"><strong>Permanent:</strong> Yes </span></p>

<p><strong>Department Id:</strong> {{ emp.Department.Id }}</p>
<p><strong>Department Name:</strong> {{ emp.Department.Name }}</p>

<p><strong>Skills</strong></p>
<p><strong>Skills Id  Skill Name</strong></p>
<ol type="1">
    <!-- ngFor -->
    <li *ngFor="let item of emp.skills">{{item}}</li>
</ol>

<p><strong>Date of Birth:</strong> {{ emp.Dob | date }}</p>

<pre>{{emp | json }}</pre>