
<p>edit-employee-reactive works!</p>

<h2>Edit Employee</h2>
<form [formGroup]="editEmp" (ngSubmit)="onSubmit()">
     
    <div>
        <label for="emp_name"><b>Name</b></label><br>
        <input type="name" formControlName="name" id="emp_name">
        <div class="error" *ngIf="editEmp.controls['name'].errors?.minlength">Minimum length of name is 4.</div>
        <div class="error" *ngIf="editEmp.controls['name'].errors?.maxlength">Maximum length of name is 20.</div>
        <div class="error" *ngIf="editEmp.controls['name'].invalid && editEmp.controls['name'].touched">Enter valid name.</div>
        <br><br>
    </div>
    
    <div>
        <label for="emp_salary"><b>Salary</b></label><br>
        <input type="number" formControlName="salary" id="emp_salary">
        <div class="error" *ngIf="editEmp.controls['salary'].errors?.min">Minimum salary should be 5000/-</div>
        <div class="error" *ngIf="editEmp.controls['salary'].errors?.max">Maximum salary should be 50000/-</div>
        <div class="error" *ngIf="editEmp.controls['salary'].invalid && editEmp.controls['salary'].touched">Enter valid salary.</div>
        <br><br>
    </div>

    <div>
        <b>Is Permanent or not?</b><br>
        <input type="radio" formControlName="permanent" id="emp_true" [value]="true">
        <label for="emp_true">Yes</label>
        <input type="radio" formControlName="permanent" id="emp_false" [value]="false">
        <label for="emp_false">No</label>
        <div class="error" *ngIf="editEmp.controls['permanent'].invalid && editEmp.controls['permanent'].touched">Permanent field is required.</div>
        <br><br>
    </div>

    <div>
        <h4>Department</h4>
        <select formControlName="department">
        <option *ngFor="let department of Department" [ngValue]="department" [selected]="department.Id === emp.department.Id">{{department.Name}}</option>
        </select>
    </div>

    <div>
        <h4>Additional Skills</h4>
        <div *ngFor="let item of skills;let i=index">
            <input [value]="skills[i].Name" type="checkbox" (change)="onCheckBoxChange($event)">{{skills[i].Name}}
        </div>
        <br>
    </div>

    <button type="submit" [disabled]="!editEmp.valid">SAVE</button>
    
</form>

<div class="block">
    <strong>Employee Model</strong><br>
    <pre>{{emp | json }}</pre>
</div>


<div class="block">
    <strong>Angular Generated Form Model</strong><br>
    <pre>{{editEmp.value | json}}</pre>
</div>